# SPDX-License-Identifier: MIT

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-case-conflict
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: local
    hooks:
      - id: no-symlinks
        name: no symlinks
        description: "Check for symlinks"
        entry: "symlinks may not be committed due to platform support"
        language: fail
        types: [symlink]

      - id: spdx-licensing
        name: SPDX License Identifiers
        description: Check for the SPDX-License-Identifier in each file.
        language: pygrep
        entry: 'SPDX-License-Identifier: '
        args: [--negate]
        types: [text]
        exclude_types: [json, pofile]
        exclude: '.vscode/|.gitignore|LICENSE|changelogs/|py.typed|.github/PULL_REQUEST_TEMPLATE.md|docs/requirements.txt|ACKNOWLEDGEMENTS.md'


  - repo: https://github.com/google/yapf
    rev: v0.40.1
    hooks:
      - id: yapf

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.0.285
    hooks:
      - id: ruff

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.323
    hooks:
    - id: pyright
